        *,
        :before,
        :after {
            box-sizing: border-box;
            border-style: solid;
            border-width: 0;
            border-color: var(--un-default-border-color, #e5e7eb)
        }

        :before,
        :after {
            --un-content: ""
        }

        html,
        :host {
            -webkit-text-size-adjust: 100%;
            tab-size: 4;
            font-feature-settings: normal;
            font-variation-settings: normal;
            -webkit-tap-highlight-color: transparent;
            font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            line-height: 1.5
        }

        body {
            line-height: inherit;
            margin: 0
        }

        hr {
            height: 0;
            color: inherit;
            border-top-width: 1px
        }

        abbr:where([title]) {
            -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: inherit;
            font-weight: inherit
        }

        a {
            color: inherit;
            -webkit-text-decoration: inherit;
            text-decoration: inherit
        }

        b,
        strong {
            font-weight: bolder
        }

        code,
        kbd,
        samp,
        pre {
            font-feature-settings: normal;
            font-variation-settings: normal;
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
            font-size: 1em
        }

        small {
            font-size: 80%
        }

        sub,
        sup {
            vertical-align: baseline;
            font-size: 75%;
            line-height: 0;
            position: relative
        }

        sub {
            bottom: -.25em
        }

        sup {
            top: -.5em
        }

        table {
            text-indent: 0;
            border-color: inherit;
            border-collapse: collapse
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-feature-settings: inherit;
            font-variation-settings: inherit;
            font-family: inherit;
            font-size: 100%;
            font-weight: inherit;
            line-height: inherit;
            color: inherit;
            margin: 0;
            padding: 0
        }

        button,
        select {
            text-transform: none
        }

        button,
        [type=button],
        [type=reset],
        [type=submit] {
            -webkit-appearance: button;
            background-color: #0000;
            background-image: none
        }

        :-moz-focusring {
            outline: auto
        }

        :-moz-ui-invalid {
            box-shadow: none
        }

        progress {
            vertical-align: baseline
        }

        ::-webkit-inner-spin-button {
            height: auto
        }

        ::-webkit-outer-spin-button {
            height: auto
        }

        [type=search] {
            -webkit-appearance: textfield;
            outline-offset: -2px
        }

        ::-webkit-search-decoration {
            -webkit-appearance: none
        }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit
        }

        summary {
            display: list-item
        }

        blockquote,
        dl,
        dd,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        figure,
        p,
        pre {
            margin: 0
        }

        fieldset {
            margin: 0;
            padding: 0
        }

        legend {
            padding: 0
        }

        ol,
        ul,
        menu {
            margin: 0;
            padding: 0;
            list-style: none
        }

        dialog {
            padding: 0
        }

        textarea {
            resize: vertical
        }

        input::placeholder,
        textarea::placeholder {
            opacity: 1;
            color: #9ca3af
        }

        button,
        [role=button] {
            cursor: pointer
        }

        :disabled {
            cursor: default
        }

        img,
        svg,
        video,
        canvas,
        audio,
        iframe,
        embed,
        object {
            vertical-align: middle;
            display: block
        }

        img,
        video {
            max-width: 100%;
            height: auto
        }

        [hidden]:where(:not([hidden=until-found])) {
            display: none
        }

        *,
        :before,
        :after,
        ::backdrop {
            --un-rotate: 0;
            --un-rotate-x: 0;
            --un-rotate-y: 0;
            --un-rotate-z: 0;
            --un-scale-x: 1;
            --un-scale-y: 1;
            --un-scale-z: 1;
            --un-skew-x: 0;
            --un-skew-y: 0;
            --un-translate-x: 0;
            --un-translate-y: 0;
            --un-translate-z: 0;
            --un-pan-x: ;
            --un-pan-y: ;
            --un-pinch-zoom: ;
            --un-scroll-snap-strictness: proximity;
            --un-ordinal: ;
            --un-slashed-zero: ;
            --un-numeric-figure: ;
            --un-numeric-spacing: ;
            --un-numeric-fraction: ;
            --un-border-spacing-x: 0;
            --un-border-spacing-y: 0;
            --un-ring-offset-shadow: 0 0 #0000;
            --un-ring-shadow: 0 0 #0000;
            --un-shadow-inset: ;
            --un-shadow: 0 0 #0000;
            --un-ring-inset: ;
            --un-ring-offset-width: 0px;
            --un-ring-offset-color: #fff;
            --un-ring-width: 0px;
            --un-ring-color: #93c5fd80;
            --un-blur: ;
            --un-brightness: ;
            --un-contrast: ;
            --un-drop-shadow: ;
            --un-grayscale: ;
            --un-hue-rotate: ;
            --un-invert: ;
            --un-saturate: ;
            --un-sepia: ;
            --un-backdrop-blur: ;
            --un-backdrop-brightness: ;
            --un-backdrop-contrast: ;
            --un-backdrop-grayscale: ;
            --un-backdrop-hue-rotate: ;
            --un-backdrop-invert: ;
            --un-backdrop-opacity: ;
            --un-backdrop-saturate: ;
            --un-backdrop-sepia:
        }

        .i-la-arrow-down {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M15 4v20.063L8.219 17.28L6.78 18.72l8.5 8.5l.719.687l.719-.687l8.5-8.5l-1.438-1.438L17 24.063V4z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-arrow-left {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m13.281 6.781l-8.5 8.5l-.687.719l.687.719l8.5 8.5l1.438-1.438L7.938 17H28v-2H7.937l6.782-6.781z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-circle {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M16 4C9.383 4 4 9.383 4 16s5.383 12 12 12s12-5.383 12-12S22.617 4 16 4m0 2c5.535 0 10 4.465 10 10s-4.465 10-10 10S6 21.535 6 16S10.465 6 16 6'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-dot-circle {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M16 4C9.383 4 4 9.383 4 16s5.383 12 12 12s12-5.383 12-12S22.617 4 16 4m0 2c5.535 0 10 4.465 10 10s-4.465 10-10 10S6 21.535 6 16S10.465 6 16 6m0 7a3 3 0 1 0 .002 6.002A3 3 0 0 0 16 13'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-download {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M15 4v16.563L9.719 15.28L8.28 16.72l7 7l.719.687l.719-.687l7-7l-1.438-1.438l-5.28 5.28V4zM7 26v2h18v-2z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-expand {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M4 4v9h2V6h7V4zm15 0v2h7v7h2V4zM4 19v9h9v-2H6v-7zm22 0v7h-7v2h9v-9z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-external-link-square-alt {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M5 5v22h22V5zm2 2h18v18H7zm6 3v2h5.563L9.28 21.281l1.438 1.438L20 13.437V19h2v-9z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-github {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M16 4C9.371 4 4 9.371 4 16c0 5.3 3.438 9.8 8.207 11.387c.602.11.82-.258.82-.578c0-.286-.011-1.04-.015-2.04c-3.34.723-4.043-1.609-4.043-1.609c-.547-1.387-1.332-1.758-1.332-1.758c-1.09-.742.082-.726.082-.726c1.203.086 1.836 1.234 1.836 1.234c1.07 1.836 2.808 1.305 3.492 1c.11-.777.422-1.305.762-1.605c-2.664-.301-5.465-1.332-5.465-5.93c0-1.313.469-2.383 1.234-3.223c-.121-.3-.535-1.523.117-3.175c0 0 1.008-.32 3.301 1.23A11.5 11.5 0 0 1 16 9.805c1.02.004 2.047.136 3.004.402c2.293-1.55 3.297-1.23 3.297-1.23c.656 1.652.246 2.875.12 3.175c.77.84 1.231 1.91 1.231 3.223c0 4.61-2.804 5.621-5.476 5.922c.43.367.812 1.101.812 2.219c0 1.605-.011 2.898-.011 3.293c0 .32.214.695.824.578C24.566 25.797 28 21.3 28 16c0-6.629-5.371-12-12-12'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-pause {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M10 6v20h2V6zm10 0v20h2V6z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-play {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M9 5.156v21.688l1.531-1L25.844 16L10.53 6.156zm2 3.657L22.156 16L11 23.188z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-times {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M7.219 5.781L5.78 7.22L14.563 16L5.78 24.781l1.44 1.439L16 17.437l8.781 8.782l1.438-1.438L17.437 16l8.782-8.781L24.78 5.78L16 14.563z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-trash {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M14 4c-.523 0-1.059.184-1.438.563C12.184 4.94 12 5.476 12 6v1H5v2h1.094L8 27.094l.094.906h15.812l.094-.906L25.906 9H27V7h-7V6c0-.523-.184-1.059-.563-1.438C19.06 4.184 18.523 4 18 4zm0 2h4v1h-4zM8.125 9h15.75l-1.781 17H9.906zM12 12v11h2V12zm3 0v11h2V12zm3 0v11h2V12z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-trash-alt {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M15 4c-.523 0-1.059.184-1.438.563C13.184 4.94 13 5.476 13 6v1H7v2h1v16c0 1.645 1.355 3 3 3h12c1.645 0 3-1.355 3-3V9h1V7h-6V6c0-.523-.184-1.059-.563-1.438C20.06 4.184 19.523 4 19 4zm0 2h4v1h-4zm-5 3h14v16c0 .555-.445 1-1 1H11c-.555 0-1-.445-1-1zm2 3v11h2V12zm4 0v11h2V12zm4 0v11h2V12z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-la-video {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 32 32' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='M2 8v16h22v-3.375l6 3V8.375l-6 3V8zm2 2h18v12H4zm24 1.625v8.75l-4-2v-4.75z'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .i-ph-arrows-horizontal {
            --un-icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 256 256' vertical-align='middle' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m237.66 133.66l-32 32a8 8 0 0 1-11.32-11.32L212.69 136H43.31l18.35 18.34a8 8 0 0 1-11.32 11.32l-32-32a8 8 0 0 1 0-11.32l32-32a8 8 0 0 1 11.32 11.32L43.31 120h169.38l-18.35-18.34a8 8 0 0 1 11.32-11.32l32 32a8 8 0 0 1 0 11.32'/%3E%3C/svg%3E");
            -webkit-mask: var(--un-icon) no-repeat;
            -webkit-mask: var(--un-icon) no-repeat;
            mask: var(--un-icon) no-repeat;
            color: inherit;
            vertical-align: middle;
            background-color: currentColor;
            width: 1.2em;
            height: 1.2em;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%
        }

        .absolute {
            position: absolute
        }

        .fixed {
            position: fixed
        }

        .relative {
            position: relative
        }

        .bottom-0 {
            bottom: 0
        }

        .bottom-20 {
            bottom: 5rem
        }

        .bottom-22 {
            bottom: 5.5rem
        }

        .bottom-6 {
            bottom: 1.5rem
        }

        .left-2 {
            left: .5rem
        }

        .right-2 {
            right: .5rem
        }

        .top-0 {
            top: 0
        }

        .top-14px {
            top: 14px
        }

        .top-2 {
            top: .5rem
        }

        .top-6 {
            top: 1.5rem
        }

        .z-100 {
            z-index: 100
        }

        .z-150 {
            z-index: 150
        }

        .z-20 {
            z-index: 20
        }

        .z-440 {
            z-index: 440
        }

        .z-50 {
            z-index: 50
        }

        .m-4 {
            margin: 1rem
        }

        .m-auto {
            margin: auto
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }

        .my-auto {
            margin-top: auto;
            margin-bottom: auto
        }

        .mr-10 {
            margin-right: 2.5rem
        }

        .mt-16 {
            margin-top: 4rem
        }

        .hidden {
            display: none
        }

        .h-2px {
            height: 2px
        }

        .h-4px {
            height: 4px
        }

        .h-full {
            height: 100%
        }

        .max-h-100vh {
            max-height: 100vh
        }

        .max-h-50 {
            max-height: 12.5rem
        }

        .max-h-80 {
            max-height: 20rem
        }

        .max-w-18 {
            max-width: 4.5rem
        }

        .max-w-40ch {
            max-width: 40ch
        }

        .max-w-80vw {
            max-width: 80vw
        }

        .max-w-full {
            max-width: 100%
        }

        .min-w-16 {
            min-width: 4rem
        }

        .min-w-30 {
            min-width: 7.5rem
        }

        .w-110px {
            width: 110px
        }

        .w-2px {
            width: 2px
        }

        .w-4px {
            width: 4px
        }

        .w-full {
            width: 100%
        }

        .flex {
            display: flex
        }

        .flex-1 {
            flex: 1
        }

        .flex-auto {
            flex: auto
        }

        .flex-col {
            flex-direction: column
        }

        .transform {
            transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z)) rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z)) skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y)) scaleZ(var(--un-scale-z))
        }

        .cursor-none {
            cursor: none
        }

        .cursor-pointer {
            cursor: pointer
        }

        .cursor-grab {
            cursor: grab
        }

        .active-cursor-grabbing:active {
            cursor: grabbing
        }

        .touch-none {
            touch-action: none
        }

        .select-none {
            -webkit-user-select: none;
            user-select: none
        }

        .items-center {
            align-items: center
        }

        .justify-center {
            justify-content: center
        }

        .gap-1 {
            gap: .25rem
        }

        .gap-2 {
            gap: .5rem
        }

        .gap-4 {
            gap: 1rem
        }

        .overflow-clip {
            overflow: clip
        }

        .overflow-hidden {
            overflow: hidden
        }

        .overflow-x-hidden {
            overflow-x: hidden
        }

        .overflow-x-scroll {
            overflow-x: scroll
        }

        .overflow-y-scroll {
            overflow-y: scroll
        }

        .overscroll-none {
            overscroll-behavior: none
        }

        .border-1 {
            border-width: 1px
        }

        .border-4 {
            border-width: 4px
        }

        .border-t-1 {
            border-top-width: 1px
        }

        .border-dark-100 {
            --un-border-opacity: 1;
            border-color: rgb(60 60 60/var(--un-border-opacity))
        }

        .border-dark-100\/50 {
            border-color: #3c3c3c80
        }

        .border-light-200 {
            --un-border-opacity: 1;
            border-color: rgb(250 250 250/var(--un-border-opacity))
        }

        .border-op-50 {
            --un-border-opacity: .5
        }

        .rounded-4px {
            border-radius: 4px
        }

        .rounded-lg {
            border-radius: .5rem
        }

        .rounded-xl {
            border-radius: .75rem
        }

        .bg-black {
            --un-bg-opacity: 1;
            background-color: rgb(0 0 0/var(--un-bg-opacity))
        }

        .bg-dark-100 {
            --un-bg-opacity: 1;
            background-color: rgb(60 60 60/var(--un-bg-opacity))
        }

        .bg-dark-50\/40 {
            background-color: #4a4a4a66
        }

        .bg-dark-900 {
            --un-bg-opacity: 1;
            background-color: rgb(15 15 15/var(--un-bg-opacity))
        }

        .bg-light-100\/40\) {
            --un-bg-opacity: 1;
            background-color: rgb(252 252 252/var(--un-bg-opacity))
        }

        .bg-stone-800 {
            --un-bg-opacity: 1;
            background-color: rgb(41 37 36/var(--un-bg-opacity))
        }

        .bg-op-20 {
            --un-bg-opacity: .2
        }

        .p-0 {
            padding: 0
        }

        .p-1 {
            padding: .25rem
        }

        .p-2 {
            padding: .5rem
        }

        .p-4 {
            padding: 1rem
        }

        .text-center {
            text-align: center
        }

        .text-right {
            text-align: right
        }

        .text-10px {
            font-size: 10px
        }

        .text-2xl {
            font-size: 1.5rem;
            line-height: 2rem
        }

        .text-5xl {
            font-size: 3rem;
            line-height: 1
        }

        .text-lg {
            font-size: 1.125rem;
            line-height: 1.75rem
        }

        .text-sm {
            font-size: .875rem;
            line-height: 1.25rem
        }

        .text-xl {
            font-size: 1.25rem;
            line-height: 1.75rem
        }

        .text-red {
            --un-text-opacity: 1;
            color: rgb(248 113 113/var(--un-text-opacity))
        }

        .text-white {
            --un-text-opacity: 1;
            color: rgb(255 255 255/var(--un-text-opacity))
        }

        .font-bold {
            font-weight: 700
        }

        .font-mono {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
        }

        .underline {
            text-decoration-line: underline
        }

        .antialiased {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }

        .op-20 {
            opacity: .2
        }

        .op-40 {
            opacity: .4
        }

        .op-50 {
            opacity: .5
        }

        .op-70,
        .opacity-70 {
            opacity: .7
        }

        .hover-op-100:hover {
            opacity: 1
        }

        .backdrop-blur {
            --un-backdrop-blur: blur(8px);
            -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);
            backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia)
        }

        .backdrop-blur-lg {
            --un-backdrop-blur: blur(16px);
            -webkit-backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia);
            backdrop-filter: var(--un-backdrop-blur) var(--un-backdrop-brightness) var(--un-backdrop-contrast) var(--un-backdrop-grayscale) var(--un-backdrop-hue-rotate) var(--un-backdrop-invert) var(--un-backdrop-opacity) var(--un-backdrop-saturate) var(--un-backdrop-sepia)
        }

        .grayscale {
            --un-grayscale: grayscale(1);
            filter: var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia)
        }

        .transition {
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1)
        }

        .transition-opacity {
            transition-property: opacity;
            transition-duration: .15s;
            transition-timing-function: cubic-bezier(.4, 0, .2, 1)
        }

        .knob[data-v-fcdc1c48] {
            cursor: pointer;
            cursor: grab;
            -webkit-user-select: none;
            user-select: none;
            text-align: center;
            touch-action: none;
            border-color: #3c3c3c80;
            border-radius: .5rem;
            flex-direction: column;
            align-items: center;
            min-width: 4rem;
            max-width: 4.5rem;
            padding: .25rem;
            display: flex;
            position: relative;
            overflow: hidden
        }

        .knob[data-v-fcdc1c48]:active {
            cursor: grabbing
        }

        .dark .knob[data-v-fcdc1c48] {
            border-color: #fcfcfc80
        }

        .level[data-v-fcdc1c48] {
            --un-border-opacity: 1;
            border-top-width: 1px;
            border-color: rgb(60 60 60/var(--un-border-opacity));
            background-color: #4a4a4a66;
            width: 100%;
            position: absolute;
            bottom: 0
        }

        .dark .level[data-v-fcdc1c48] {
            --un-border-opacity: 1;
            border-color: rgb(252 252 252/var(--un-border-opacity));
            background-color: #fcfcfc66
        }

        #screen {
            width: 100%;
            height: 100%
        }

        html,
        body {
            width: 100%;
            min-width: 320px;
            min-height: 100vh;
            color: var(--c-text);
            font-synthesis: none;
            text-rendering: optimizelegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            overscroll-behavior: none;
            direction: ltr;
            background-color: #000;
            font-family: Commissioner, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            font-size: 1em;
            font-weight: 400;
            line-height: 1.3;
            overflow: hidden
        }
/*$vite$:1*/
